nav.navbar.navbar-expand-xl.navbar-light.fixed-top.menu
    .container
        img.logo.mt-1(src="/img/structure/logo.png")
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
            span.navbar-toggler-icon
    
        .collapse.navbar-collapse#navbarSupportedContent
            ul.navbar-nav.ml-auto
                li.nav-item
                    a.nav-link(href="#index01") ínicio
                li.nav-item
                    a.nav-link(href="#latest-works") recentes
                li.nav-item
                    a.nav-link(href="#services") serviços
                li.nav-item
                    a.nav-link(href="#portfolio") portifólio
                li.nav-item
                    a.nav-link(href="#whoiam") quem sou
                li.nav-item
                    a.nav-link(href="#contact") contato

        