#latest-works
    background: transparent
    min-height: 100vh
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    .latest-works__label
        background-color: transparentize($__COLOR__gradient03_, .5)
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 600px
        z-index: 1
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        .latest-works__label__info-container
            width: 60% 
            height: 60%
            border-radius: 4px
            border: solid 2px $__COLOR__gradient01_
            display: flex
            justify-content: center
            align-items: center
            flex-direction: column
    .latest-works__work
        cursor: pointer
        overflow: hidden
        height: 600px
        transition: $__TIME__transition_
        display: flex
        justify-content: center
        align-items: center
        &:hover
            .latest-works__label
                z-index: 3
            img
                z-index: 2
                transition: $__TIME__transition_
                height: 800px
        img
            //position: absolute
            //height: 100%
            height: 600px
            z-index: 3
            //wposition: absolute
    