doctype html
html
    head
        include modules/settings/_mixins.pug
        +headerSettings("FonsecaSantos | Fotografia & Vídeo", "none", "Lucas Fonseca dos Santos", "GNU/GPLv3.0 - General Public License","#000", "pt-BR")
        include modules/settings/_link-imports.pug
    body
        header
            include modules/components/_header.pug
        main
            section.container-fluid#index01
                .container
                    .subIndex01
                        .row.w-50
                            h1 
                                | LUCAS FONSECA
                                br
                                | DOS SANTOS
                            p.text-white O que te emociona? O que te motiva? Diversas épocas, histórias, sensações e sentimentos podem ser eternizados através da luz, compondo a arte da fotografia.
                            p.text-gradient03
                                strong  
                                    a(href="#home") — Explore meu trabalho
                    .subIndex01
                        i.fa.fa-instagram.text-white.mr-3(aria-hidden="true")
                        i.fa.fa-facebook.text-white.mr-3(aria-hidden="true")
                        i.fa.fa-pinterest-p.text-white.mr-3(aria-hidden="true")
                        i.fa.fa-linkedin.text-white.mr-3(aria-hidden="true")
                        i.fa.fa-youtube.text-white.mr-3(aria-hidden="true")
                        hr
                        i.fa.fa-angle-double-down.text-white.ml-3(aria-hidden="true")
                
            section.container-fluid.pt-5.pb-5#latest-works
                .container
                    .row
                        .section-title.mt-0.mb-5
                            p.text-gradient03 confira
                            h2 meus trabalhos recentes
                .row
                    .latest-works__work.col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3
                    .latest-works__work.col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3
                    .latest-works__work.col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3
                    .latest-works__work.col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3
            
            section.container-fluid.pt-5.pb-5#services
                .container
                    .row
                        .section-title.mt-0.mb-5
                            p.text-gradient03 gostou dos trabalhos?
                            h2 que serviços eu presto?
                    .row
                        .services__service.col-12.col-sm-12.col-md-6.col-lg-4.col-xl-4
                        .services__service.col-12.col-sm-12.col-md-6.col-lg-4.col-xl-4
                        .services__service.col-12.col-sm-12.col-md-6.col-lg-4.col-xl-4
                        .services__service.col-12.col-sm-12.col-md-6.col-lg-4.col-xl-4
                        .services__service.col-12.col-sm-12.col-md-6.col-lg-4.col-xl-4
                        .services__service.col-12.col-sm-12.col-md-6.col-lg-4.col-xl-4
            
            section.container-fluid.pt-5.pb-5#portfolio
                .container
                    .row
                        .section-title.mt-0.mb-5
                            p.text-gradient03 dos meus trabalhos
                            h2 portifólio
                    .row
                        .portfolio__work.col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3
                        .portfolio__work.col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3
                        .portfolio__work.col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3
                        .portfolio__work.col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3

                        .portfolio__work.col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3
                        .portfolio__work.col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3
                        .portfolio__work.col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3
                        .portfolio__work.col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3

                        .portfolio__work.col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3
                        .portfolio__work.col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3
                        .portfolio__work.col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3
                        .portfolio__work.col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3
                        
                        .portfolio__work.col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3
                        .portfolio__work.col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3
                        .portfolio__work.col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3
                        .portfolio__work.col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3
            
            section.container-fluid.pt-5.pb-5#whoiam
                .container
                    .row
                        .section-title.mt-0.mb-5
                            p.text-gradient03 mas afinal
                            h2 quem sou eu?
                    .row
                        .whoiam__explain.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
                            img(src="/img/structure/p.png")
                        .whoiam__explain.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
                            .row
                                p.text-white Graduando em bacharelado de Ciência da Computação, pela Universidade Federal de Lavras (UFLA), além compartilha de suas duas maiores paixões, técnologia e a arte da fotografia. Voluntario e ativista em movimentos de mídia livrismo, também adentrou para o mundo do audio visual.
                                p.text-white Acredita na eternização dos momentos, sensações, épocas e distintas realidades através da luz na documentação de uma fotografia. Ministrou cursos de fotografia pela empresa junior de computação da UFLA, Comp Júnior.
                                center
                                    button.default01.mt-3.mb-3 acesse meu github e conheceça meus trabalhos na área da tecnologia
                                    button.default01 visite meu linkedin para mais detalhes profissionais
            section.container-fluid.pt-5.pb-5#instagram-feed
                .row
                    .instagram-feed__pic.col-1.col-sm-1.col-md-1.col-lg-1.col-xl-1.p-0
                        img
                    .instagram-feed__pic.col-1.col-sm-1.col-md-1.col-lg-1.col-xl-1.p-0
                        img
                    .instagram-feed__pic.col-1.col-sm-1.col-md-1.col-lg-1.col-xl-1.p-0
                        img
                    .instagram-feed__pic.col-1.col-sm-1.col-md-1.col-lg-1.col-xl-1.p-0
                        img
                    .instagram-feed__pic.col-1.col-sm-1.col-md-1.col-lg-1.col-xl-1.p-0
                        img
                    .instagram-feed__pic.col-2.col-sm-2.col-md-2.col-lg-2.col-xl-2.p-0.d-flex.justify-content-center
                        button.default01
                            i.fa.fa-instagram.text-white.mb-1(aria-hidden="true")
                            br
                            | visite meu instagram
                    .instagram-feed__pic.col-1.col-sm-1.col-md-1.col-lg-1.col-xl-1.p-0
                        img
                    .instagram-feed__pic.col-1.col-sm-1.col-md-1.col-lg-1.col-xl-1.p-0
                        img
                    .instagram-feed__pic.col-1.col-sm-1.col-md-1.col-lg-1.col-xl-1.p-0
                        img
                    .instagram-feed__pic.col-1.col-sm-1.col-md-1.col-lg-1.col-xl-1.p-0
                        img
                    .instagram-feed__pic.col-1.col-sm-1.col-md-1.col-lg-1.col-xl-1.p-0
                        img
            section.container-fluid.pt-5.pb-5#contact
                .container
                    .row
                        .contact__divide.col-12.col-sm-12.col-md-4.col-lg-4.col-xl-4
                            img(src="/img/structure/logo_footer.png")
                        .contact__divide.col-12.col-sm-12.col-md-8.col-lg-8.col-xl-8
                    
        footer
            include modules/components/_footer.pug
        
        include modules/settings/_js-imports.pug
        script
            |   $(document).ready(function(){       
            |       var scroll_start = 0;
            |       var startchange = $('#index01');
            |       var offset = startchange.offset();
            |       
            |       if (startchange.length){
            |           $(document).scroll(function() { 
            |               
            |               scroll_start = $(document).scrollTop();
            |               
            |               if(scroll_start > offset.top) {
            |               
            |                   $(".menu").addClass('background-gradient-default');
            |                   $('.nav-link').addClass('text-white');
            |                   $('.logo').css('filter', 'brightness(10000000%)');
            |               } else {
            |                   $('.nav-link').removeClass('text-white');
            |                   $('.menu').removeClass('background-gradient-default');
            |                   $('.menu').css('background-color', 'transparent');
            |                   $('.logo').css('filter', 'none');
            |               }
            |           });
            |       }
            |   });
            |
