doctype html
html
    head
        include modules/settings/_mixins.pug
        +headerSettings("FonsecaSantos | Fotografia & Vídeo", "none", "Lucas Fonseca dos Santos", "GNU/GPLv3.0 - General Public License","#000", "pt-BR")
        include modules/settings/_link-imports.pug
    body
        header
            include modules/components/_header.pug
        main
            .scroll-button
                i.fa.fa-angle-double-down(aria-hidden="true")
            section.container-fluid#index01
                .container
                    .subIndex01
                        .row.w-50
                            h1#section-home_title-label 
                                | LUCAS FONSECA
                                br
                                | DOS SANTOS
                            p.text-white#section-home_intro-label
                            p.text-gradient03
                                strong  
                                    a#section-home_link-label
                    .subIndex01
                        i.fa.fa-instagram.text-white.mr-3#section-home_instagram-link(aria-hidden="true")
                        i.fa.fa-facebook.text-white.mr-3#section-home_facebook-link(aria-hidden="true")
                        i.fa.fa-pinterest-p.text-white.mr-3#section-home_pinterest-link(aria-hidden="true")
                        i.fa.fa-linkedin.text-white.mr-3#section-home_linkedin-link(aria-hidden="true")
                        i.fa.fa-youtube.text-white.mr-3#section-home_youtube-link(aria-hidden="true")
                        hr
                        a(href="#latest-works")
                            i.fa.fa-angle-double-down.text-white.ml-3#section-home_down-page-link(aria-hidden="true")
                
            section.container-fluid.pt-5.pb-5#latest-works
                .container
                    .row
                        .section-title.mt-0.mb-5
                            p.text-gradient03#latest-works__title01-label
                            h2#latest-works__title02-label
                .row
                    .latest-works__work.col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3
                        .row
                            .latest-works__label
                                .latest-works__label__info-container
                                    h2 Clique e visualize
                            img(src="https://i.pinimg.com/originals/bf/c6/61/bfc6617f8d90d508b86cd513fdee759c.jpg")
                    .latest-works__work.col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3
                        .row
                            .latest-works__label
                                .latest-works__label__info-container
                                    h2 Clique e visualize
                            img(src="https://i.pinimg.com/originals/df/60/c2/df60c2570ade59a58cbadd1ce19463e3.jpg")
                    .latest-works__work.col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3
                        .row
                            .latest-works__label
                                .latest-works__label__info-container
                                    h2 Clique e visualize
                            img(src="https://i.pinimg.com/originals/a7/44/8e/a7448e5d497a1880f74b331834e45e90.jpg")
                    .latest-works__work.col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3
                        .row
                            .latest-works__label
                                .latest-works__label__info-container
                                    h2 Clique e visualize
                            img(src="https://i.pinimg.com/originals/32/29/43/322943fb3b2871218f0d04d362ca82d2.jpg")
            
            section.container-fluid.pt-5.pb-5#services
                .container
                    .row
                        .section-title.mt-0.mb-5
                            p.text-gradient03#services__title01-label
                            h2#services__title02-label
                    .row
                        .services__service.col-12.col-sm-12.col-md-6.col-lg-4.col-xl-4.p-3
                            .container-fluid
                                .row
                                    .icon-box.p-3.mb-3
                                        i.fa.fa-camera.text-white(aria-hidden="true")
                                .row
                                    h3 fotografia de eventos
                                    p.mt-3.mb-3 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                    a - Clique e saiba mais
                        .services__service.col-12.col-sm-12.col-md-6.col-lg-4.col-xl-4.p-3
                            .container-fluid
                                .row
                                    .icon-box.p-3.mb-3
                                        i.fa.fa-video-camera.text-white(aria-hidden="true")
                                .row
                                    h3 video de eventos
                                    p.mt-3.mb-3 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                    a - Clique e saiba mais
                        .services__service.col-12.col-sm-12.col-md-6.col-lg-4.col-xl-4.p-3
                            .container-fluid
                                .row
                                    .icon-box.p-3.mb-3
                                        i.fa.fa-user.text-white(aria-hidden="true")
                                .row
                                    h3 ensaios
                                    p.mt-3.mb-3 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                    a - Clique e saiba mais
                        .services__service.col-12.col-sm-12.col-md-6.col-lg-4.col-xl-4.p-3
                            .container-fluid
                                .row
                                    .icon-box.p-3.mb-3
                                        i.fa.fa-home.text-white(aria-hidden="true")
                                .row
                                    h3 fotografia de ambientes
                                    p.mt-3.mb-3 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                    a - Clique e saiba mais
                        .services__service.col-12.col-sm-12.col-md-6.col-lg-4.col-xl-4.p-3
                            .container-fluid
                                .row
                                    .icon-box.p-3.mb-3
                                        i.fa.fa-briefcase.text-white(aria-hidden="true")
                                .row
                                    h3 video comercial
                                    p.mt-3.mb-3 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                    a - Clique e saiba mais
                        .services__service.col-12.col-sm-12.col-md-6.col-lg-4.col-xl-4.p-3
                            .container-fluid
                                .row
                                    .icon-box.p-3.mb-3
                                        i.fa.fa-group.text-white(aria-hidden="true")
                                .row
                                    h3 ativismo
                                    p.mt-3.mb-3 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                    a - Clique e saiba mais
            
            section.container-fluid.pt-5.pb-5#portfolio
                .container
                    .row
                        .section-title.mt-0.mb-5
                            p.text-gradient03#portfolio__title01-label
                            h2#portfolio__title02-label
                    .row
                        .portfolio__work.col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3
                            .row
                                .portfolio__label
                                    .portfolio__label__info-container
                                        h2 Clique e visualize
                                img(src="https://i.pinimg.com/originals/a7/44/8e/a7448e5d497a1880f74b331834e45e90.jpg")
                        .portfolio__work.col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3
                            .row
                                .portfolio__label
                                    .portfolio__label__info-container
                                        h2 Clique e visualize
                                img(src="https://i.pinimg.com/originals/a7/44/8e/a7448e5d497a1880f74b331834e45e90.jpg")
                        .portfolio__work.col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3
                            .row
                                .portfolio__label
                                    .portfolio__label__info-container
                                        h2 Clique e visualize
                                img(src="https://i.pinimg.com/originals/a7/44/8e/a7448e5d497a1880f74b331834e45e90.jpg")
                        .portfolio__work.col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3
                            .row
                                .portfolio__label
                                    .portfolio__label__info-container
                                        h2 Clique e visualize
                                img(src="https://i.pinimg.com/originals/a7/44/8e/a7448e5d497a1880f74b331834e45e90.jpg")

                        
                        .portfolio__work.col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3
                            .row
                                .portfolio__label
                                    .portfolio__label__info-container
                                        h2 Clique e visualize
                                img(src="https://i.pinimg.com/originals/a7/44/8e/a7448e5d497a1880f74b331834e45e90.jpg")
                        .portfolio__work.col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3
                            .row
                                .portfolio__label
                                    .portfolio__label__info-container
                                        h2 Clique e visualize
                                img(src="https://i.pinimg.com/originals/a7/44/8e/a7448e5d497a1880f74b331834e45e90.jpg")
                        .portfolio__work.col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3
                            .row
                                .portfolio__label
                                    .portfolio__label__info-container
                                        h2 Clique e visualize
                                img(src="https://i.pinimg.com/originals/a7/44/8e/a7448e5d497a1880f74b331834e45e90.jpg")
                        .portfolio__work.col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3
                            .row
                                .portfolio__label
                                    .portfolio__label__info-container
                                        h2 Clique e visualize
                                img(src="https://i.pinimg.com/originals/a7/44/8e/a7448e5d497a1880f74b331834e45e90.jpg")

                        .portfolio__work.col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3
                            .row
                                .portfolio__label
                                    .portfolio__label__info-container
                                        h2 Clique e visualize
                                img(src="https://i.pinimg.com/originals/a7/44/8e/a7448e5d497a1880f74b331834e45e90.jpg")
                        .portfolio__work.col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3
                            .row
                                .portfolio__label
                                    .portfolio__label__info-container
                                        h2 Clique e visualize
                                img(src="https://i.pinimg.com/originals/a7/44/8e/a7448e5d497a1880f74b331834e45e90.jpg")
                        .portfolio__work.col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3
                            .row
                                .portfolio__label
                                    .portfolio__label__info-container
                                        h2 Clique e visualize
                                img(src="https://i.pinimg.com/originals/a7/44/8e/a7448e5d497a1880f74b331834e45e90.jpg")
                        .portfolio__work.col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3
                            .row
                                .portfolio__label
                                    .portfolio__label__info-container
                                        h2 Clique e visualize
                                img(src="https://i.pinimg.com/originals/a7/44/8e/a7448e5d497a1880f74b331834e45e90.jpg")
                        
                        .portfolio__work.col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3
                            .row
                                .portfolio__label
                                    .portfolio__label__info-container
                                        h2 Clique e visualize
                                img(src="https://i.pinimg.com/originals/a7/44/8e/a7448e5d497a1880f74b331834e45e90.jpg")
                        .portfolio__work.col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3
                            .row
                                .portfolio__label
                                    .portfolio__label__info-container
                                        h2 Clique e visualize
                                img(src="https://i.pinimg.com/originals/a7/44/8e/a7448e5d497a1880f74b331834e45e90.jpg")
                        .portfolio__work.col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3
                            .row
                                .portfolio__label
                                    .portfolio__label__info-container
                                        h2 Clique e visualize
                                img(src="https://i.pinimg.com/originals/a7/44/8e/a7448e5d497a1880f74b331834e45e90.jpg")
                        .portfolio__work.col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3
                            .row
                                .portfolio__label
                                    .portfolio__label__info-container
                                        h2 Clique e visualize
                                img(src="https://i.pinimg.com/originals/a7/44/8e/a7448e5d497a1880f74b331834e45e90.jpg")
            
            section.container-fluid.pt-5.pb-5#whoiam
                .container
                    .row
                        .section-title.mt-0.mb-5
                            p.text-gradient03#whoiam__title01-label
                            h2#whoiam__title01-label
                    .row
                        .whoiam__explain.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
                            img(src="/img/structure/p.png")
                        .whoiam__explain.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
                            .row
                                p.text-white Graduando em bacharelado de Ciência da Computação, pela Universidade Federal de Lavras (UFLA), além compartilha de suas duas maiores paixões, técnologia e a arte da fotografia. Voluntario e ativista em movimentos de mídia livrismo, também adentrou para o mundo do audio visual.
                                p.text-white Acredita na eternização dos momentos, sensações, épocas e distintas realidades através da luz na documentação de uma fotografia. Ministrou cursos de fotografia pela empresa junior de computação da UFLA, Comp Júnior.
                                center
                                    button.default01.mt-3.mb-3#whoiam__button01
                                    button.default01#whoiam__button01
            section.container-fluid.pt-5.pb-5#instagram-feed
                .row
                    .instagram-feed__pic.col-1.col-sm-1.col-md-1.col-lg-1.col-xl-1.p-0
                        img
                    .instagram-feed__pic.col-1.col-sm-1.col-md-1.col-lg-1.col-xl-1.p-0
                        img
                    .instagram-feed__pic.col-1.col-sm-1.col-md-1.col-lg-1.col-xl-1.p-0
                        img
                    .instagram-feed__pic.col-1.col-sm-1.col-md-1.col-lg-1.col-xl-1.p-0
                        img
                    .instagram-feed__pic.col-1.col-sm-1.col-md-1.col-lg-1.col-xl-1.p-0
                        img
                    .instagram-feed__pic.col-2.col-sm-2.col-md-2.col-lg-2.col-xl-2.p-0.d-flex.justify-content-center
                        button.default01
                            i.fa.fa-instagram.text-white.mb-1(aria-hidden="true")
                            br
                            | visite meu instagram
                    .instagram-feed__pic.col-1.col-sm-1.col-md-1.col-lg-1.col-xl-1.p-0
                        img
                    .instagram-feed__pic.col-1.col-sm-1.col-md-1.col-lg-1.col-xl-1.p-0
                        img
                    .instagram-feed__pic.col-1.col-sm-1.col-md-1.col-lg-1.col-xl-1.p-0
                        img
                    .instagram-feed__pic.col-1.col-sm-1.col-md-1.col-lg-1.col-xl-1.p-0
                        img
                    .instagram-feed__pic.col-1.col-sm-1.col-md-1.col-lg-1.col-xl-1.p-0
                        img
            section.container-fluid.pt-5.pb-5#contact
                .container
                    .row
                        .contact__divide.col-12.col-sm-12.col-md-4.col-lg-4.col-xl-4
                            img(src="/img/structure/logo_footer.png")
                        .contact__divide.col-12.col-sm-12.col-md-8.col-lg-8.col-xl-8
                    
        footer
            include modules/components/_footer.pug
        
        include modules/settings/_js-imports.pug
        script
            |   $(document).ready(function(){       
            |       var scroll_start = 0;
            |       var startchange = $('#index01');
            |       var offset = startchange.offset();
            |       
            |       if (startchange.length){
            |           $(document).scroll(function() { 
            |               
            |               scroll_start = $(document).scrollTop();
            |               
            |               if(scroll_start > offset.top) {
            |               
            |                   $('.navbar-nav').removeClass('d-none');
            |                   $(".menu").addClass('background-gradient-default');
            |                   $('.nav-link').addClass('text-white');
            |                   $('.logo').css('filter', 'brightness(10000000%)');
            |               } else {
            |                   $('.navbar-nav').addClass('d-none');
            |                   $('.nav-link').removeClass('text-white');
            |                   $('.menu').removeClass('background-gradient-default');
            |                   $('.menu').css('background-color', 'transparent');
            |                   $('.logo').css('filter', 'none');
            |               }
            |           });
            |       }
            |   });
            |
